@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
 
*{
  font-family: "Inter", sans-serif;
}
.container_wrapper{
  max-width:1580px;
  width:90%; 
}

body{ 
  background-image: linear-gradient(rgba(0, 0, 0, 0.285), rgba(0, 0, 0, 0.5)), url(/src/assets/herobgimage.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@media (max-width: 1400px){
  .container_wrapper{
    max-width:auto; 
  }
}

/*
.authorCard_wrapper{
  display:flex;
  justify-content:space-between;
  gap:15px;
  
}
.authorCard{
  background-color:transparent;
  padding:32px;
  border-radius:15px;
  color:#000; 
  border:1.5px solid #ff6b2c1f;
  backdrop-filter:blur(15px);
}
.authorCard>h5{
  color:#fff;
}
.authorCard>p{
  color:#fff;
}     
.mynavBar>a{

}
.mynavBar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 15px 0;
}

.mynav_list{
  display:flex;
  align-items:center;
  list-style:none;
  gap:20px;
}
 

.hero_wrapper{
  margin:5em auto;
}
.hero_wrapper>span{
  color:#ff8142;
}
.hero_wrapper>h1{
   max-width:600px;
}
.hero_wrapper>h1>span{
    color: #ff2525;
    text-transform: none;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#f8b695, #f50);
    -webkit-background-clip: text;
    background-clip: text;
}*/